<%- include("head.partial.ejs") %>

<main>
  <h1><%= title %></h1>
  <h1>This URL accepts the POST method, feel free to try and make a request!</h1>
  <ul id="categories">
    <% categories.forEach(function(category){ %>
    <li><%= category %></li>
    <% }) %>
  </ul>
</main>

<%- include("foot.partial.ejs") %>