* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.2s ease-out;
    text-shadow: rgb(7, 0, 0) 1px 1px;
}

body {
    height: 100vh;
    width: 100vw;

    background: linear-gradient(180deg, rgb(104, 255, 162) 1%, rgba(0, 183, 255, 1) 100%);
    
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
body > * {
    margin: 15px;
}

div, a {
    background-color: transparent;
}

div {
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

button {
    border-color: rgb(2, 190, 12);
    border-style: solid;
    border-width: 4px;
    border-radius: 5px;

    height: 90%;
    width: 300px;

    background-color: rgb(104, 255, 104);

    a {
        width: 100%;
        height: 100%;
        
        color: rgb(25, 182, 4);
        font-size: x-large;

        span {
            font-size: xx-large;
        }
    }
}

.createPoll {
    width: 80%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    
}

.polls {
    width: 90%;
    height: 90%;
    overflow-y: scroll;

    font-size: small;

    .poll {
        background-color: rgb(119, 173, 143);
        margin: 10px;

        > * {
            margin: 5px;            border-collapse: collapse;
        }

        .name {
            border-style: solid;
            border-color: black;
            border-width: 3px;
            border-radius: 5px;
            border-collapse: collapse;
        }

        .timestamp {
            font-size: x-small;
        }

        .duration {
            font-size: x-small;
        }
    }
}