<h2>This URL accepts the POST method, feel free to try and make a request!</h2>
  
<% if (parameters) { %>
<h2>Found POST parameters! Here they are:</h2>
<ul>
<%  for (const key in parameters) { %>
    <li><%= key%> = <%= parameters[key]%></li>
<% } %>

</ul>
<% } %>